.body{
    padding: 4%;
    overflow-y: hidden;
}

.fit-card{
    display: block;
    width: 100%;
    height: auto;
}

.translucent{
    opacity: .5;
}

.white-text{
    color: #f1f1f1;
}

.jumbotron {
    background-image: url("../graphics/VRHackTalk.jpg");
    background-size: cover;
}

.space10{
    padding-top:10px;
    padding-bottom:10px;
}

.space150{
    padding-top:150px;
    padding-bot:150px;
}

.center{
    display: block;
    width: auto;
    height: auto;
}

.title{
    text-align: center;
}

.rsContent{
    border-left: 1px solid #2b2d2f;
}

.profile-photo{
    padding: 5%;
}

